.login {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.LoginCOntent {
  width: 100px;
  margin-bottom: 50px;
  font-size: 58px;
}

.login-form {
  width: 500px;
}
